html, body{
    height: 100%;
    margin:0px;
}
.full-header{
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    font-family: Optima, sans-serif;
    z-index: 5;
}

#navigation-header-text{
    font-weight: 200;
    background-color: black;
    color: white;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.navigation-bar-lower-box{
    display:inline-block;
    width: 20%;
    text-align: center;
    border-bottom-style: solid;
    z-order: 4;
}

.navigation-bar-lower-link{
    font-size: 15px;
    font-weight:300;
    text-decoration: none;
    color:black;
}
a:hover{
    color: darkgreen;
}

#navigation-bar-sign-in{
    background-color: dimgrey;
}

/* Middle Section */

#full-body{
    padding-top: 60px;
    font-family: Optima, sans-serif;
    text-align: center;
    font-weight: lighter;
    z-index: -5;
}
#sign-in-box{
    width: 100%;

}

.white-button{
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-family: Optima, sans-serif;
    width: 300px;
    height: 200px;
    display:inline;
    font-weight: lighter;
}

.black-button{
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Optima, sans-serif;
    display:inline;
    font-weight: lighter;
}



.users-button{
    height: 200px;
    width: 400px;
    font-weight: lighter;
    font-size: 20px;
    border-radius: 25px;
    border-width: 3px;
    text-decoration: none;
    margin-top: 20px;
}

a.users-button, a.user-button:hover{
    text-decoration: none;
}

.users-bar{
    width: 70%;
    padding-left: 15%;
}

.users-header{
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
    margin-top: 15px;
    margin-bottom: 15px;
}

#returning-users{
    text-decoration: none;
    width: 50%;
    display: inline-block;
    float: left;
    margin-bottom: 200px;
}

#new-users-section{
    float:left;
    display: block;
    width: 50%;
    text-decoration: none;
    margin-bottom: 200px;
}

#access-header{
    font-size: 40px;
    font-family: Optima, sans-serif;
    font-weight: lighter;

}













/* Last Section */

#links{
    width: 100%;
    text-align: center;
    line-height: 0.75;
    font-family: Optima, sans-serif;
    font-weight: lighter;
}