<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Communities: Night Remembrances</title>
    <link rel="stylesheet" href="css/communities.css">
</head>
<body>
    <!-- Header and Navigation Bar -->
    <div class="full-header">

        <!-- Header-->
        <div class="navigation-header">
            <h1 id="navigation-header-text">Night Remembrances</h1>
        </div>

        <!-- Navigation Bar-->
        <div class="navigation-bar-lower">
            <div class="navigation-bar-items">
                <div id="navigation-bar-home" class="navigation-bar-lower-box">
                    <a href="/" class="navigation-bar-lower-link">Home</a>
                </div
                ><div id="navigation-bar-sign-in" class="navigation-bar-lower-box">
                <a href="/SignIn" class="navigation-bar-lower-link">Sign In</a>
                </div
                ><div id="navigation-bar-journal" class="navigation-bar-lower-box">
                    <a href="/Journal" class="navigation-bar-lower-link">Journal</a>
                </div
                ><div id="navigation-bar-communities" class="navigation-bar-lower-box">
                    <a href="/Communities" class="navigation-bar-lower-link"> Communities</a>
                </div
                ><div id="navigation-bar-about-us" class="navigation-bar-lower-box">
                    <a href="/AboutUs" class="navigation-bar-lower-link">About Us</a>
                </div>
            </div>
        </div>
    </div>


</body>
</html>