<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Night Remembrances</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="full-header">

        <div class="navigation-header">
            <h1 id="navigation-header-text">Night Remembrances</h1>
        </div>

        <div class="navigation-bar-lower">
            <div class="navigation-bar-items">
                <div id="navigation-bar-home" class="navigation-bar-lower-box">
                    <a href="/index" class="navigation-bar-lower-link">Home</a>
                </div
                ><div id="navigation-bar-sign-in" class="navigation-bar-lower-box">
                    <a href="/SignIn" class="navigation-bar-lower-link">Sign In</a>
                </div
                ><div id="navigation-bar-journal" class="navigation-bar-lower-box">
                    <a href="/Journal" class="navigation-bar-lower-link">Journal</a>
                </div
                ><div id="navigation-bar-communities" class="navigation-bar-lower-box">
                    <a href="/Communities" class="navigation-bar-lower-link"> Communities</a>
                </div
                ><div id="navigation-bar-about-us" class="navigation-bar-lower-box">
                    <a href="/AboutUs" class="navigation-bar-lower-link">About Us</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Body Section -->
    <div id="full-body">

        <!-- First welcome body section with a starry night picture -->
        <div id="first-body-section" class="white-body-section">

            <!-- Image text -->
            <div id="first-box-text">
                <h2 id="first-welcome-header">Welcome to Night Remembrances</h2>

                <hr id="first-welcome-message-bar">

                <p id="first-welcome-message">We are excited for you to journal your dream experiences with us.
                Our mission is to help collect, store, and retrieve journal entries at anytime of the day.
                With this easy-to-use entry format, while storing a wide variety of information, this is the best website for dreams.</p>
            </div>

            <!-- Image-->
            <div id="first-body-image">
                <img id="night-sky-image" src="/images/PaulVolkmerFreeBlackNightSky.jpg">
            </div>
        </div>

        <div id="second-body-section" class="black-body-section">
            <div id="second-body-left">
                    <h2 class="two-third-bar"id="get-journaling-header">Get Journaling</h2>
                    <hr id="get-journaling-bar">
                    <p id="instruction-sign-in-message">
                        To start journaling, or to access old files, sign in. If you have not created an account,
                        you will be prompted to create one. We take privacy very seriously here. Your dreams are safe
                        with us.
                    </p>
            </div>


            <div id="second-body-right">
                <div id="sign-in-box">
                    <h4 id="sing-in-instructions">To start, click below </h4>
                    <div id="sign-in-button">
                        <a href="/SignIn">
                            <button class="black-button sign-in-button">Sign in  <i class="arrow right"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <hr id="separate-button-text">
                <div id="connection-section">
                    <p id="concern-message">If you have any problems or concerns, connect
                        with the community or submit a form on the about us page.</p>
                    <div id="about-community-buttons">
                        <a href="/communities"><button class="black-button communities-button">Communities
                        </button></a>
                        <a href="/aboutus"><button class="black-button about-us-button">About Us
                            </button></a>
                    </div>

                </div>
            </div>


        </div>

        <div id="third-section" class="white-body-section">
            <div id="links">
                <p> <a href="/Home">Home</a> | <a href="/signin">Sign In</a> |  <a href="/journal">Journals</a>
                    | <a href="/communities">Communities</a> | <a href="/aboutus">About Us</a></p>
                <p> Created by Aidan Godfrey</p>
                <p> Email: amgodfrey@wisc.edu</p>
            </div>
        </div>


    </div>



</body>
</html>